# Workflow 1, Module 1 (condition similarity)

In [1]:
#To make nicer looking outputs
from IPython.core.display import display, HTML
import requests

#Load some functions for parsing quick output
import os
import sys
module_path = os.path.abspath(os.path.join('../../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from gg_functions import parse_answer, get_view_url

robokop='robokop.renci.org'

In [2]:
common_diseases = [
("MONDO:0005578","arthritis"),
("MONDO:0005148","type 2 diabetes mellitus"),
("MONDO:0002406","dermatitis"),
("MONDO:0008383","rheumatoid arthritis"),
("MONDO:0005359","drug-induced liver injury"),
("MONDO:0006573","lipodystrophy (disease)"),
("MONDO:0008226","aggressive periodontitis"),
("MONDO:0001627","dementia"),
("MONDO:0005265","inflammatory bowel disease"),
("MONDO:0004979","asthma"),
("MONDO:0005298","osteoporosis"),
("MONDO:0006932","pulmonary edema"),
("MONDO:0005180","Parkinson disease"),
("MONDO:0006658","arteriolosclerosis"),
("MONDO:0005090","schizophrenia"),
("MONDO:0005152","hypopituitarism"),
("MONDO:0001835","facial paralysis"),
("MONDO:0001824","polyneuropathy"),
("MONDO:0005301","multiple sclerosis"),
("MONDO:0006644","alcoholic liver cirrhosis")
]

In [3]:
#This is the templated query that goes (disease)-(set of phenotypes)-(genetic condition)
turl=lambda robokop,disease_id,disease_name: f'http://{robokop}/api/simple/quick/template/wf1mod1_with_gene/{disease_id}/?name1={disease_name}&max_connectivity=1000'

for disease_id, disease_name in common_diseases:
    url = turl(robokop,disease_id,disease_name)
    display(HTML(f'<h3>{disease_name}</h3>'))
    response = requests.get(url)
    if response.status_code != 200:
        print('Error')
        continue
    answers=response.json()
    answer_frame = parse_answer(answers,node_list=['n2'],edge_list=[])
    display(answer_frame.head())
    view_url = get_view_url(answers)
    display(HTML(f'<a href={view_url}>View Answer in ROBOKOP</a>'))

        n2 - id                                          n2 - name       score
0  MONDO:0015977                                 agammaglobulinemia  45.261597
1  MONDO:0015789  non-acquired combined pituitary hormone defici...  43.053843
2  MONDO:0015891  hypogonadotropic hypogonadism associated with ...  42.996901
3  MONDO:0015135  primary immunodeficiency due to a genetic defe...  42.682240
4  MONDO:0009693                                   multiple myeloma  40.873541

        n2 - id                       n2 - name       score
0  MONDO:0011565            metabolic syndrome X  71.561315
1  MONDO:0011382              sickle cell anemia  41.544386
2  MONDO:0015967  rare genetic diabetes mellitus  40.386608
3  MONDO:0009693                multiple myeloma  40.198767
4  MONDO:0001076             glucose intolerance  36.984862

        n2 - id                                          n2 - name       score
0  MONDO:0015135  primary immunodeficiency due to a genetic defe...  50.951698
1  MONDO:0020192                       rare lacrimal system disease  42.004990
2  MONDO:0015891  hypogonadotropic hypogonadism associated with ...  39.909425
3  MONDO:0015789  non-acquired combined pituitary hormone defici...  39.291332
4  MONDO:0019743  nephropathy secondary to a storage or other me...  38.164529

        n2 - id                                   n2 - name       score
0  MONDO:0015977                          agammaglobulinemia  53.577882
1  MONDO:0009693                            multiple myeloma  47.482932
2  MONDO:0015974  severe combined immunodeficiency (disease)  40.275187
3  MONDO:0015517            common variable immunodeficiency  37.449914
4  MONDO:0009061                             cystic fibrosis  33.067591

        n2 - id                     n2 - name       score
0  MONDO:0009693              multiple myeloma  34.319071
1  MONDO:0006507    hereditary hemochromatosis  29.091478
2  MONDO:0011382            sickle cell anemia  28.199254
3  MONDO:0002408  bilirubin metabolic disorder  25.613752
4  MONDO:0011565          metabolic syndrome X  24.021521

        n2 - id                                  n2 - name       score
0  MONDO:0015949  rare genetic subcutaneous tissue disorder  63.555814
1  MONDO:0019599                      primary lipodystrophy  63.512638
2  MONDO:0020087                      genetic lipodystrophy  61.397076
3  MONDO:0021106                                laminopathy  37.832094
4  MONDO:0019303                            premature aging  36.897939

        n2 - id                                          n2 - name       score
0  MONDO:0008226                           aggressive periodontitis  15.731140
1  MONDO:0009490                           Papillon-Lefevre disease   8.800490
2  MONDO:0015135  primary immunodeficiency due to a genetic defe...   5.714447
3  MONDO:0015133  quantitative and/or qualitative congenital pha...   5.355746
4  MONDO:0017739           disorder of lysosomal-related organelles   5.100383

        n2 - id                              n2 - name        score
0  MONDO:0020142        metabolic disease with dementia  140.634328
1  MONDO:0015244  autosomal recessive cerebellar ataxia  138.179838
2  MONDO:0020139       early-onset ataxia with dementia  135.833836
3  MONDO:0016397        lysosomal disease with epilepsy   70.597190
4  MONDO:0015115           rare metabolic liver disease   65.116305

        n2 - id                                          n2 - name       score
0  MONDO:0015977                                 agammaglobulinemia  40.854932
1  MONDO:0015135  primary immunodeficiency due to a genetic defe...  37.550625
2  MONDO:0015517                   common variable immunodeficiency  29.185558
3  MONDO:0015974         severe combined immunodeficiency (disease)  29.030174
4  MONDO:0018305                      chronic granulomatous disease  28.287424

        n2 - id                                   n2 - name       score
0  MONDO:0015977                          agammaglobulinemia  34.696751
1  MONDO:0009061                             cystic fibrosis  34.262193
2  MONDO:0015974  severe combined immunodeficiency (disease)  28.798527
3  MONDO:0007186             gastroesophageal reflux disease  26.939721
4  MONDO:0015517            common variable immunodeficiency  24.132471

        n2 - id                      n2 - name       score
0  MONDO:0009693               multiple myeloma  35.919415
1  MONDO:0009061                cystic fibrosis  31.618931
2  MONDO:0009047       cryptorchidism (disease)  28.914694
3  MONDO:0008274  polyostotic fibrous dysplasia  27.921758
4  MONDO:0019499                Turner syndrome  27.775747

        n2 - id                     n2 - name       score
0  MONDO:0009061               cystic fibrosis  27.121514
1  MONDO:0011382            sickle cell anemia  26.854578
2  MONDO:0011827      patent ductus arteriosus  23.272047
3  MONDO:0006664    atrial heart septal defect  19.361104
4  MONDO:0010086  sudden infant death syndrome  18.637442

        n2 - id                                          n2 - name       score
0  MONDO:0017660                 rare genetic parkinsonian disorder  26.296551
1  MONDO:0007739                               Huntington's disease  21.040009
2  MONDO:0017661  rare parkinsonian syndrome due to genetic neur...  20.550533
3  MONDO:0016058                                paroxysmal dystonia  17.809557
4  MONDO:0007089                              Alzheimer's disease 2  17.159298

        n2 - id                              n2 - name      score
0  MONDO:0011827               patent ductus arteriosus  4.539688
1  MONDO:0007432                                CADASIL  3.085752
2  MONDO:0016333        familial dilated cardiomyopathy  2.951656
3  MONDO:0021027                   genetic hair anomaly  1.612326
4  MONDO:0018787  genetic cerebral small vessel disease  1.322939

        n2 - id                 n2 - name       score
0  MONDO:0007089     Alzheimer's disease 2  19.136394
1  MONDO:0008575       nicotine dependence  16.965446
2  MONDO:0009047  cryptorchidism (disease)  15.707379
3  MONDO:0016058       paroxysmal dystonia  15.119260
4  MONDO:0009637    mitochondrial myopathy  14.898785

,n2 - id,n2 - name,score
0,MONDO:0015789,non-acquired combined pituitary hormone defici...,184.806874
1,MONDO:0015891,hypogonadotropic hypogonadism associated with ...,183.563206
2,MONDO:0015981,inherited gynecological tumor,94.819758
3,MONDO:0003689,congenital hemolytic anemia,50.025145
4,MONDO:0019402,beta thalassemia,47.596717

        n2 - id                                 n2 - name       score
0  MONDO:0007972                           Meniere disease  25.576681
1  MONDO:0008890                  progressive bulbar palsy  22.526437
2  MONDO:0008779                            arthrogryposis  19.699546
3  MONDO:0007154  arteriovenous malformations of the brain  19.650177
4  MONDO:0021061                         neurofibromatosis  18.585638

        n2 - id                    n2 - name       score
0  MONDO:0000455               cone dystrophy  65.292610
1  MONDO:0009637       mitochondrial myopathy  47.800257
2  MONDO:0015626  Charcot-Marie-tooth disease  39.278828
3  MONDO:0008692         abetalipoproteinemia  39.154378
4  MONDO:0019005   nephronophthisis (disease)  37.006450

        n2 - id                                          n2 - name       score
0  MONDO:0015891  hypogonadotropic hypogonadism associated with ...  23.092152
1  MONDO:0011382                                 sickle cell anemia  22.783650
2  MONDO:0015789  non-acquired combined pituitary hormone defici...  22.609726
3  MONDO:0008752                                  Alexander disease  20.816702
4  MONDO:0019064                      hereditary spastic paraplegia  19.558942

        n2 - id             n2 - name       score
0  MONDO:0009061       cystic fibrosis  21.303700
1  MONDO:0010200        Wilson disease  18.555446
2  MONDO:0009693      multiple myeloma  15.300314
3  MONDO:0019499       Turner syndrome  14.927469
4  MONDO:0011565  metabolic syndrome X  14.476121